body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#toggle-button {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  z-index: 1000; /* Ensure buttons appear above map */
}